# 系统文件
.bash_history
.bash_logout
.bashrc
.cache/
.gitconfig
.landscape/
.local/
.motd_shown
.npm/
.profile
.ssh/
.sudo_as_admin_successful

# 临时文件
*.deb
*.html
*.tmp

# Node.js
node_modules/
package-lock.json
*.log

# 数据库文件
*.db
*.sqlite

# 上传文件
uploads/
